
body{
  color:#40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1{
  font-family: 'Zen Dots', cursive;
  margin: 50px auto 0 auto;
  font-size: 90px;
  margin-bottom: 0px;
  color :#FCF9BE;
  line-height: 1;
}

h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
  color:#10A19D;
  font-weight: normal;
  padding-bottom: 10px;
}

h3{
  color: #11999E;
}

p{
  line-height: 2;
}

ul{
  padding-left: 20px;
}
hr{
  border: dotted #6D67E4 6px;
  border-bottom: none;
  width: 4%;
  margin:100px 50% ;
}

a{
  color: #11999e;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}
a:hover{
  color: #eaf6f6;
}

.my_image{
  align-items: left;
}

.fast_learner_text{
float: center;
}
.other-skills{
  padding-left: 225px;
  list-style-position: inside;

}
.top{
  background-color: #59C1BD;
  position: relative;
  padding-top: 100px;
}
.middle{
margin: 100px 0;
}

.bottom{
  background-color: #66bfbf;
  padding:50px 0 20px;
}

.pro{
  text-decoration: underline;
}

.top-magic{
  float: right;
  size-adjust: 50px;
}
.bottom-magic{
  float: left;
}

.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.code-img{
  width: 25%;
  float:left;
  margin-right: 30px;
  background-color:#DEF5E5 ;
}

.mindset-img{
  width: 20%;
  float:right;
  margin-left: 30px;
  background-color: #FFE9B1;
}

.my_projects{
  position: relative;
  width: 50%;
  margin: 100px auto;
  text-align: left;
  line-height: 2;
}

.project_title{
  margin-left: 30px;
  
}
.source_btn{
  margin-top: 140px;
  margin-left: 315px;
}
.source_btn:hover{
  color: black;
}

#sd-last-release{
  font-size: 17px;
  color:#00425A;
  margin-left: 265px;
}
#d-last-release{
  font-size: 17px;
  color:#00425A;
  margin-left: 265px;
}
.projects_image{
  width:20%;
  float:right;
  margin-top: -70;
}

.project_image{
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 1%;
}

.contact-message{
  width: 40%;
  margin: 40px auto 60px;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  margin-bottom: 50px;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
.my-links{
  margin-top: 50px;
}

.copyright {
  color: #eaf6f6;
  font-size: 0.75rem ;
  padding: 20px 0px;
}

.programmer{
  color:#6D67E4;
}